.nav-link-color {
  color: white;
}

.nav-item-space {
  margin-right: 15%;
}

.stretched-link {
  color: darkgray;
}

.card {
  margin-top: 10px;
  width: 18rem;
}

.img-thumbnail {
  border-radius: 50%;
}

.btn-light-gray {
  background-color: lightgray;
  border-color: lightgray;
  color: rgb(44, 43, 43);
}

#link-logo {
  height: 40px;
  width: 40px;
}

#nav-serachbar {
  width: 60%;
}

.post-form-container {
  width: 25%;
  margin-left: 35%;
  margin-top: 10px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

#imgPosts {
  width: 600px;
}

video {
  width: 600px;
}

#modify {
  display: none;
}